{% extends "home/base.html" %}
{% block content %}
<div class="container">
    <h2>Assignments</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Type</th>
                <th>Author</th>
                <th>Date Uploaded</th>
                <th>Assignment</th>
                <th>Rubric</th>
            </tr>
        </thead>
        <tbody>
            {% for assignment in assignments %}
            <tr>
                <td>{{ assignment.title }}</td>
                <td>{{ assignment.assignment_type }}</td>
                <td>{{ assignment.author.username }}</td>
                <td>{{ assignment.date_uploaded }}</td>
                <td>
                    <a href="{{ assignment.uploaded_assignment.url }}" target="_blank">
                        View Assignment
                    </a>
                </td>
                <td>
                    <a href="{{ assignment.uploaded_rubric.url }}" target="_blank">
                        View Rubric
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
