{% extends 'home/base.html' %}
{% block content %}
<div class="container">
    <h1> Title: {{assignment.title}}</h1>
    <h4> Course: {{assignment.title}}</p>
    <h4> Assignment Type: {{assignment.assignment_type}}</h3>
    <p>Description: {{assignment.description}}</p>
    <p>Uploaded Assignment: <a href="{{assignment.uploaded_assignment.url}}" target="_blank">View</a></p>
    {% if assignment.uploaded_rubric.url != null %}
    <p>Uploaded Rubric: <a href="{{assignment.uploaded_rubric.url}}" target="_blank">View</a></p>
    {% endif %}
    <h2>Reviews</h2>
    <div>
        {% for review in reviews %}
            <div class="card my-3">
                <div class="card-body">
                    <h5 class="card-title">{{ review.reviewer.username }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">
                        {% for i in range(review.rating) %}
                            <i class="fa fa-star text-warning"></i>
                        {% endfor %}
                        {% for i in range(5-review.rating) %}
                            <i class="fa fa-star text-muted"></i>
                        {% endfor %}
                    </h6>
                    <p class="card-text">{{ review.feedback }}</p>
                    <p class="text-end"><small>Reviewed on {{ review.date_reviewed }}</small></p>
                </div>
            </div>
            {% empty %}
                <p>No reviews yet. Be the first to review!</p>
            {% endfor %}
    </div>
</div>
{% endblock %}
