{% extends 'home/base.html' %}
{% block content %}
<div class="container">
  <h1>
    Welcome to the home page!
  </h1>
    {% for event in events %}
      <div class="card my-4" style="width: 30rem;">
        <div class="card-header">{{event.event_date}}</div>
        <div class="card-body">
          <h5 class="card-title">{{event.event_name}}</h5>
          <h6 class="card-subtitle mb-2 text-body-secondary">{{event.host}}</h6>
          <p class="card-text">{{event.event_description}}</p>
        </div>
      </div>
    {% empty %}
      <p>No events available</p>
    {% endfor %}
</div>
{% endblock content %}
