.rtd {
  text-decoration: none;
}

.nav-link {
  color: rgb(247, 244, 244);
}

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 1000

.afacad-flux-<uniquifier> {
  font-family: "Afacad Flux", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

.af-font {
  font-family: "Afacad Flux", sans-serif;
}

/*body {
  background-color: white;
  color: #ff7575;
}

.nav-items nav a {
  margin-left: 10px;
}

.nav-items nav a:hover {
  background-color: #ff5c5c;
  color: #ff7575;
  border-radius: 40%;
}

.bg-blue {
  background-color: #ff7575;
}*/
