.rtd {
  text-decoration: none;
}

.nav-link:hover {
  background-color: rgb(247, 244, 244);
  color: black;
}

.nav-link {
  color: rgb(247, 244, 244);
  transition: background-color 0.3s ease;
  height: 100%;
  border-radius: 10%;
}

.btn:hover {
    background-color: rgb(247, 244, 244)!important;
    color: black;
    transition: background-color 0.3s ease;
}

/*.navbar {
  padding: 0;
}/*

/* <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 1000*/

.afacad-flux-body {
  font-family: "Afacad Flux", sans-serif;
  font-size: larger;
  font-optical-sizing: auto;
  font-weight: unset;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

.af-font {
  font-family: "Afacad Flux", sans-serif;
}

/*body {
  background-color: white;
  color: #ff7575;
}

.nav-items nav a {
  margin-left: 10px;
}

.nav-items nav a:hover {
  background-color: #ff5c5c;
  color: #ff7575;
  border-radius: 40%;
}

.bg-blue {
  background-color: #ff7575;
}*/
